* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: Helvetica, Arial;
  font-size: 18px;
}

h1,
h2 {
  color: rgba(11, 155, 11, 0.767);
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

p {
  text-align: justify;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.author-text {
  margin-left: 15px;
  margin-top: 32px;
  font-size: 22px;
  float: left;
}

.container {
  width: 900px;
  margin: 20px auto 0 auto;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.blog-post img {
  height: 150px;
  width: auto;
}

.other-posts {
  width: 25%;
  float: left;
}

.other {
  margin-bottom: 40px;
}

.author-box {
  padding-top: 20px;
  border-top: 1px solid #808080;
}

.author-box img {
  height: 100px;
  width: 100 px;
  border-radius: 50%;
  float: left;
}

.date {
  position: absolute;
  top: 10px;
  right: 0px;
  padding-right: 30px;
}
